@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{

    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
 header{

    background-color: #f5f5f5;
    width: 100%;
    position: fixed;
    display: flex;
    z-index: 999;
    justify-content: space-between;
    align-items: center;
    padding: 10px 200px;

 }
 .logo {
    /* default is 16 px */

    text-decoration: none;
    font-size: 16px;
    color: #126180;
    text-transform: uppercase;
    font-weight: 700;
 }
 .navigation a{
    color: #126180;
    font-size: 15px;
    font-weight: 500px;
    text-decoration: none;
    padding-left:  30px;

 }
.navigation a:hover {

color: rgb(83, 15, 146);
}
 section {

   padding: 100px 150px;
 }
 .main{

   width: 100%;
   min-height: 100vh;
   display: flex;
   align-items: center;
   background:url(backround.jpg) no-repeat;
   background-size: cover;
   background-position:center ;
   background-attachment: fixed;

 }
 .main h6 {

   color: white;
   font-weight:500px ;
   font-size: 0.8em;


 }

 .main h1 {

   color:#5d8aa8 ;
   font-size: 2.4em;
   font-weight: 500px;
   margin-top: 6px;
 }
 .main h4 {

   color: white;
   font-size: 1em;
   font-weight: 500px;
   margin-top: 6px;
   margin-bottom: 20px;
   letter-spacing:1px;
 }
.main-button {

color : white;
text-decoration: none;
background-color: #92a1cf;
letter-spacing : 1px;
font-size: 1em;
font-weight: 600px;
display: inline-block;
padding: 0.935em 2.187em;
border-radius: 12px;
margin-bottom: 20px;
transition: 0.7s ease;

}
.main-button :hover{
   background-color:#545aa7;
   transform: scale(1.1);
}
.social-media a{
     
   color: white;
   font-size: 22px;
   padding-left: 18px;

}